<!DOCTYPE html>
<html>
  <head>
    <title>Intro to Node and MongoDB</title>
  </head>
  <!-- <link rel="stylesheet" href="css/index.css" /> -->
  <body>
    <div>
      <div>
        <form method="post" action="/addmarks">
          <h3>Enter student marks</h3>
          <input
            type="text"
            name="name"
            placeholder="enter student name"
            required
          />
          <br/>
          <br/>
          <input
            type="number"
            name="rollno"
            placeholder="enter roll no"
            required
          />
          <br/>
          <br/>
          <input
            type="number"
            name="wad_marks"
            placeholder="Enter WAD marks"
            required
          />
          <br/>
          <br/>
          <input
            type="number"
            name="dsbda_marks"
            placeholder="Enter DSBDA marks"
            required
          />
          <br/>
          <br/>
          <input
            type="number"
            name="cns_marks"
            placeholder="Enter CNS marks"
            required
          />
          <br/>
          <br/>
          <input
            type="number"
            name="cc_marks"
            placeholder="Enter CS marks"
            required
          />
          <br/>
          <br/>
          <input
            type="number"
            name="ai_marks"
            placeholder="Enter AI marks"
            required
          />
          <br/>
          <br/>
          <input type="submit" value="Save"/>
        </form>
      </div>
    </div>
  </body>
</html>
