<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Use the following public API to create a web-app which searches the universities. GET
http://universities.hipolabs.com/search?name=[name of the university] -->

<form action="post" action="/">
    <label>Enter university name</label>
    
    <input type="text" name="name" required>
    <input type="text" name="country" required>

    <button type="submit">search</button>
    <button type="reset">reset</button>
    </form>
</body>
</html>